<div class="wrap">
  <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <section id="DisplayBookSection">
    <h1>Books</h1>
    <table>
    <tr class="table_box">
      <td class="table1">Title</td><td class="table2">Body</td><td colspan="3"></td>
    </tr>
    <% @books. each do |book| %>
      <tr>
      <td class="table1"><%= book.title %></td>
      <td class="table2"><%= book.body %></td>
      <td class="table3"><%= link_to "Show", book_path(book) %></td>
      <td class="table3"><%= link_to "Edit", edit_book_path(book) %></td>
      <td class="table3"><%= link_to "Destroy", book_path(book), method: :delete %></td>
      </tr>
    <% end %>
  </table>
  </section>

  <section id="AddNewBookSection">
    <h2>New book</h2>
    <%= form_for(@book) do |book| %>
      <%= render 'layouts/error_messages', model: book.object %>
      <h4>Title</h4>
      <%= book.text_field :title %>
      <h4>Body</h4>
      <%= book.text_area :body %>
      <br>
      <%= book.submit 'Create Book' %>
    <% end %>
  </section>
</div>